<form class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="addBook(form)">
    <div class="card-header">
        <h3 style="color:fuchsia">Add Books</h3>
    </div>
    <div class="form-group">
        <input type="text" name="bookName" id="bookName" class="form-control" placeholder="Enter Book Name"
            #bookName="ngModel" ngModel required>
        <div *ngIf="bookName.touched && bookName.invalid">
            <p class="alert alert-danger" *ngIf="bookName.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="author1" id="author1" class="form-control" placeholder="Enter Author name"
            #author1="ngModel" ngModel required>
        <div *ngIf="author1.touched && author1.invalid">
            <p class="alert alert-danger" *ngIf="author1.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="author2" id="author2" class="form-control" placeholder="Enter Author name"
            #author2="ngModel" ngModel required>
        <div *ngIf="author2.touched && author2.invalid">
            <p class="alert alert-danger" *ngIf="author2.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="publisher" id="publisher" class="form-control" placeholder="publisher"
            #publisher="ngModel" ngModel required>
        <div *ngIf="publisher.touched && publisher.invalid">
            <p class="alert alert-danger" *ngIf="publisher.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="date" name="yearOfPublication" id="yearOfPublication" class="form-control"
            placeholder="Year of publication" #yearOfPublication="ngModel" ngModel required>
        <div *ngIf="yearOfPublication.touched && yearOfPublication.invalid">
            <p class="alert alert-danger" *ngIf="yearOfPublications.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Add Book</button>
    </div>
</form>